{
  "swagger": "2.0",
  "info": {
    "title": "MinistryPlatform",
    "description": "PowerAutomate Connector for MinistryPlatform by ACST",
    "version": "1.0"
  },
  "host": "mpi.ministryplatform.com",
  "basePath": "/ministryplatformapi",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/tables": {
      "get": {
        "tags": [
          "Schema"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Table Schema",
        "description": "Returns the list of tables available to the current user with basic metadata.",
        "operationId": "Tables_GET",
        "parameters": []
      }
    },
    "/tables/{table}": {
      "get": {
        "tags": [
          "Tables"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Records from Table",
        "description": "Returns a collection of records from a table.",
        "operationId": "Table_Record_Collection_GET",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a MinistryPlatform Table.  This must a table registered in metadata.",
            "x-ms-summary": "Table",
            "x-ms-visibility": "important",
            "enum": [
              "Account_Types",
              "Accounting_Companies",
              "Activity_Log",
              "Activity_Log_Staging",
              "Addresses",
              "Attribute_Types",
              "Attributes",
              "Audience_Audience_Filters",
              "Audience_Filters",
              "Audience_Members",
              "Audience_Members_Staging",
              "Audience_Operators",
              "Audiences",
              "Background_Check_Statuses",
              "Background_Check_Types",
              "Background_Checks",
              "Banks",
              "Batch_Entry_Types",
              "Batch_Types",
              "Batches",
              "Books",
              "Buildings",
              "Campaign_Goals",
              "Care_Case_Types",
              "Care_Cases",
              "Care_Outcomes",
              "Care_Types",
              "Certification_Types",
              "Chart_Colors",
              "Checkin_Search_Results_Types",
              "Church_Associations",
              "Congregations",
              "Contact_Attributes",
              "Contact_Households",
              "Contact_Identifier_Log",
              "Contact_Log",
              "Contact_Log_Types",
              "Contact_Relationships",
              "Contact_Staging",
              "Contact_Statuses",
              "Contacts",
              "Continents",
              "Contribution_Statement_Donors",
              "Contribution_Statements",
              "Countries",
              "Currencies",
              "Date_Accuracies",
              "Deposits",
              "Donation_Distributions",
              "Donation_Frequencies",
              "Donation_Levels",
              "Donation_Sources",
              "Donations",
              "Donor_Accounts",
              "Donors",
              "Equipment",
              "Equipment_Types",
              "Event_Equipment",
              "Event_Groups",
              "Event_Metrics",
              "Event_Participants",
              "Event_Rooms",
              "Event_Services",
              "Event_Types",
              "Events",
              "Feedback_Entries",
              "Feedback_Types",
              "Follow_Up_Action_Types",
              "Form_Field_Types",
              "Form_Fields",
              "Form_Response_Answers",
              "Form_Responses",
              "Forms",
              "Genders",
              "Group_Activities",
              "Group_Attributes",
              "Group_Ended_Reasons",
              "Group_Focuses",
              "Group_Inquiries",
              "Group_Participants",
              "Group_Role_Directions",
              "Group_Role_Intensities",
              "Group_Role_Types",
              "Group_Roles",
              "Group_Rooms",
              "Group_Types",
              "Groups",
              "Household_Care_Log",
              "Household_Identifier_Log",
              "Household_Positions",
              "Household_Sources",
              "Household_Types",
              "Households",
              "Import_Destinations",
              "Import_Templates",
              "Industries",
              "Invoice_Detail",
              "Invoice_Sources",
              "Invoice_Statuses",
              "Invoices",
              "Item_Priorities",
              "Item_Statuses",
              "Journeys",
              "Letters",
              "Life_Stages",
              "Location_Types",
              "Locations",
              "Maintenance_Requests",
              "Mapping_Values",
              "Marital_Statuses",
              "Meeting_Days",
              "Meeting_Durations",
              "Meeting_Frequencies",
              "Member_Statuses",
              "Metrics",
              "Milestones",
              "Ministries",
              "MobileApp_Menu_Items",
              "Need_Campaigns",
              "Need_Providers",
              "Need_Type_Providers",
              "Need_Types",
              "Needs",
              "Occupations",
              "Opportunities",
              "Opportunity_Attributes",
              "Ordination_Types",
              "Participant_Certifications",
              "Participant_Engagement",
              "Participant_Milestones",
              "Participant_Types",
              "Participants",
              "Participation_Items",
              "Participation_Requirements",
              "Participation_Statuses",
              "Payment_Detail",
              "Payment_Types",
              "Payments",
              "Perspectives",
              "Planned_Contacts",
              "Pledge_Adjustment_Types",
              "Pledge_Adjustments",
              "Pledge_Campaign_Types",
              "Pledge_Campaigns",
              "Pledge_Frequencies",
              "Pledge_Statuses",
              "Pledges",
              "Pocket_Platform_Devices",
              "Pocket_Platform_Migrations",
              "Prefixes",
              "Print_Servers",
              "Priorities",
              "Procedures",
              "Product_Option_Groups",
              "Product_Option_Prices",
              "Products",
              "Program_Groups",
              "Program_Types",
              "Programs",
              "Relationships",
              "Request_Statuses",
              "Response_Follow_Ups",
              "Response_Results",
              "Responses",
              "Room_Layouts",
              "Room_Usage_Types",
              "Rooms",
              "RSVP_Statuses",
              "Sacrament_Places",
              "Sacrament_Sponsors",
              "Sacrament_Types",
              "Sacraments",
              "Schedule_Roles",
              "Schedule_Statuses",
              "Scheduled_Donations",
              "Scheduled_Participants",
              "Schedules",
              "Service_Types",
              "Servicing",
              "Sponsor_Types",
              "Statement_Cutoff_Automation",
              "Statement_Frequencies",
              "Statement_Headers",
              "Statement_Methods",
              "Statement_Types",
              "Suffixes",
              "Suggestion_Types",
              "Time_Off_Types",
              "Visibility_Levels",
              "Wifi_Device_Sessions",
              "Wifi_Devices"
            ]
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to return in the data.  This supports the MinistryPlatform _TABLE notation for accessing fields in other tables connected by foreign keys.",
            "x-ms-summary": "Select Fields",
            "x-ms-visibility": "important"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Parameters and values to filter the returned collections of records",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "important"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Order By",
            "description": "Fields that will affect the sorting order of the data.  Multiple fields can be used separated by \",\" commas.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$groupby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Clause that divides the query result into groups of rows, usually by performing one or more aggregations on each group.",
            "x-ms-summary": "Group By Field(s)"
          },
          {
            "name": "$having",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Having Value",
            "description": "Specifies a search condition for a group or an aggregate. HAVING is typically used with a GROUP BY clause. When GROUP BY is not used, there is an implicit single, aggregated group."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of records to return.",
            "x-ms-summary": "Top records to return",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of records to skip before records are included in results.  Useful for larger datasets and paging when combined with $top.",
            "x-ms-summary": "Number of records to skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$distinct",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              "",
              true,
              false
            ],
            "x-ms-visibility": "advanced",
            "description": "Return only unique rows",
            "x-ms-summary": "Get Distinct Rows"
          },
          {
            "name": "$userId",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "UserId to be used for Global Filter",
            "x-ms-summary": "UserId to be used for Global Filter"
          },
          {
            "name": "$globalFilterId",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "Global Filter Record ID used in conjunction with UserId to limit results",
            "x-ms-summary": "Global Filter ID"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Tables"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Records in Table",
        "description": "Creates new records in the specified table.",
        "operationId": "Table_Records_POST",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a MinistryPlatform Table.  This must a table registered in metadata.",
            "x-ms-summary": "Table",
            "enum": [
              "Account_Types",
              "Accounting_Companies",
              "Activity_Log",
              "Activity_Log_Staging",
              "Addresses",
              "Attribute_Types",
              "Attributes",
              "Audience_Audience_Filters",
              "Audience_Filters",
              "Audience_Members",
              "Audience_Members_Staging",
              "Audience_Operators",
              "Audiences",
              "Background_Check_Statuses",
              "Background_Check_Types",
              "Background_Checks",
              "Banks",
              "Batch_Entry_Types",
              "Batch_Types",
              "Batches",
              "Books",
              "Buildings",
              "Campaign_Goals",
              "Care_Case_Types",
              "Care_Cases",
              "Care_Outcomes",
              "Care_Types",
              "Certification_Types",
              "Chart_Colors",
              "Checkin_Search_Results_Types",
              "Church_Associations",
              "Congregations",
              "Contact_Attributes",
              "Contact_Households",
              "Contact_Identifier_Log",
              "Contact_Log",
              "Contact_Log_Types",
              "Contact_Relationships",
              "Contact_Staging",
              "Contact_Statuses",
              "Contacts",
              "Continents",
              "Contribution_Statement_Donors",
              "Contribution_Statements",
              "Countries",
              "Currencies",
              "Date_Accuracies",
              "Deposits",
              "Donation_Distributions",
              "Donation_Frequencies",
              "Donation_Levels",
              "Donation_Sources",
              "Donations",
              "Donor_Accounts",
              "Donors",
              "Equipment",
              "Equipment_Types",
              "Event_Equipment",
              "Event_Groups",
              "Event_Metrics",
              "Event_Participants",
              "Event_Rooms",
              "Event_Services",
              "Event_Types",
              "Events",
              "Feedback_Entries",
              "Feedback_Types",
              "Follow_Up_Action_Types",
              "Form_Field_Types",
              "Form_Fields",
              "Form_Response_Answers",
              "Form_Responses",
              "Forms",
              "Genders",
              "Group_Activities",
              "Group_Attributes",
              "Group_Ended_Reasons",
              "Group_Focuses",
              "Group_Inquiries",
              "Group_Participants",
              "Group_Role_Directions",
              "Group_Role_Intensities",
              "Group_Role_Types",
              "Group_Roles",
              "Group_Rooms",
              "Group_Types",
              "Groups",
              "Household_Care_Log",
              "Household_Identifier_Log",
              "Household_Positions",
              "Household_Sources",
              "Household_Types",
              "Households",
              "Import_Destinations",
              "Import_Templates",
              "Industries",
              "Invoice_Detail",
              "Invoice_Sources",
              "Invoice_Statuses",
              "Invoices",
              "Item_Priorities",
              "Item_Statuses",
              "Journeys",
              "Letters",
              "Life_Stages",
              "Location_Types",
              "Locations",
              "Maintenance_Requests",
              "Mapping_Values",
              "Marital_Statuses",
              "Meeting_Days",
              "Meeting_Durations",
              "Meeting_Frequencies",
              "Member_Statuses",
              "Metrics",
              "Milestones",
              "Ministries",
              "MobileApp_Menu_Items",
              "Need_Campaigns",
              "Need_Providers",
              "Need_Type_Providers",
              "Need_Types",
              "Needs",
              "Occupations",
              "Opportunities",
              "Opportunity_Attributes",
              "Ordination_Types",
              "Participant_Certifications",
              "Participant_Engagement",
              "Participant_Milestones",
              "Participant_Types",
              "Participants",
              "Participation_Items",
              "Participation_Requirements",
              "Participation_Statuses",
              "Payment_Detail",
              "Payment_Types",
              "Payments",
              "Perspectives",
              "Planned_Contacts",
              "Pledge_Adjustment_Types",
              "Pledge_Adjustments",
              "Pledge_Campaign_Types",
              "Pledge_Campaigns",
              "Pledge_Frequencies",
              "Pledge_Statuses",
              "Pledges",
              "Pocket_Platform_Devices",
              "Pocket_Platform_Migrations",
              "Prefixes",
              "Print_Servers",
              "Priorities",
              "Procedures",
              "Product_Option_Groups",
              "Product_Option_Prices",
              "Products",
              "Program_Groups",
              "Program_Types",
              "Programs",
              "Relationships",
              "Request_Statuses",
              "Response_Follow_Ups",
              "Response_Results",
              "Responses",
              "Room_Layouts",
              "Room_Usage_Types",
              "Rooms",
              "RSVP_Statuses",
              "Sacrament_Places",
              "Sacrament_Sponsors",
              "Sacrament_Types",
              "Sacraments",
              "Schedule_Roles",
              "Schedule_Statuses",
              "Scheduled_Donations",
              "Scheduled_Participants",
              "Schedules",
              "Service_Types",
              "Servicing",
              "Sponsor_Types",
              "Statement_Cutoff_Automation",
              "Statement_Frequencies",
              "Statement_Headers",
              "Statement_Methods",
              "Statement_Types",
              "Suffixes",
              "Suggestion_Types",
              "Time_Off_Types",
              "Visibility_Levels",
              "Wifi_Device_Sessions",
              "Wifi_Devices"
            ]
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Select Fields",
            "description": "A comma separated list of fields to return in the data.  This supports the MinistryPlatform _TABLE notation for accessing fields in other tables connected by foreign keys.",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {}
              }
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Tables"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Records in Table",
        "description": "Updates provided records in the specified table.",
        "operationId": "Table_Records_PUT",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a MinistryPlatform Table.  This must a table registered in metadata.",
            "x-ms-summary": "Table",
            "enum": [
              "Account_Types",
              "Accounting_Companies",
              "Activity_Log",
              "Activity_Log_Staging",
              "Addresses",
              "Attribute_Types",
              "Attributes",
              "Audience_Audience_Filters",
              "Audience_Filters",
              "Audience_Members",
              "Audience_Members_Staging",
              "Audience_Operators",
              "Audiences",
              "Background_Check_Statuses",
              "Background_Check_Types",
              "Background_Checks",
              "Banks",
              "Batch_Entry_Types",
              "Batch_Types",
              "Batches",
              "Books",
              "Buildings",
              "Campaign_Goals",
              "Care_Case_Types",
              "Care_Cases",
              "Care_Outcomes",
              "Care_Types",
              "Certification_Types",
              "Chart_Colors",
              "Checkin_Search_Results_Types",
              "Church_Associations",
              "Congregations",
              "Contact_Attributes",
              "Contact_Households",
              "Contact_Identifier_Log",
              "Contact_Log",
              "Contact_Log_Types",
              "Contact_Relationships",
              "Contact_Staging",
              "Contact_Statuses",
              "Contacts",
              "Continents",
              "Contribution_Statement_Donors",
              "Contribution_Statements",
              "Countries",
              "Currencies",
              "Date_Accuracies",
              "Deposits",
              "Donation_Distributions",
              "Donation_Frequencies",
              "Donation_Levels",
              "Donation_Sources",
              "Donations",
              "Donor_Accounts",
              "Donors",
              "Equipment",
              "Equipment_Types",
              "Event_Equipment",
              "Event_Groups",
              "Event_Metrics",
              "Event_Participants",
              "Event_Rooms",
              "Event_Services",
              "Event_Types",
              "Events",
              "Feedback_Entries",
              "Feedback_Types",
              "Follow_Up_Action_Types",
              "Form_Field_Types",
              "Form_Fields",
              "Form_Response_Answers",
              "Form_Responses",
              "Forms",
              "Genders",
              "Group_Activities",
              "Group_Attributes",
              "Group_Ended_Reasons",
              "Group_Focuses",
              "Group_Inquiries",
              "Group_Participants",
              "Group_Role_Directions",
              "Group_Role_Intensities",
              "Group_Role_Types",
              "Group_Roles",
              "Group_Rooms",
              "Group_Types",
              "Groups",
              "Household_Care_Log",
              "Household_Identifier_Log",
              "Household_Positions",
              "Household_Sources",
              "Household_Types",
              "Households",
              "Import_Destinations",
              "Import_Templates",
              "Industries",
              "Invoice_Detail",
              "Invoice_Sources",
              "Invoice_Statuses",
              "Invoices",
              "Item_Priorities",
              "Item_Statuses",
              "Journeys",
              "Letters",
              "Life_Stages",
              "Location_Types",
              "Locations",
              "Maintenance_Requests",
              "Mapping_Values",
              "Marital_Statuses",
              "Meeting_Days",
              "Meeting_Durations",
              "Meeting_Frequencies",
              "Member_Statuses",
              "Metrics",
              "Milestones",
              "Ministries",
              "MobileApp_Menu_Items",
              "Need_Campaigns",
              "Need_Providers",
              "Need_Type_Providers",
              "Need_Types",
              "Needs",
              "Occupations",
              "Opportunities",
              "Opportunity_Attributes",
              "Ordination_Types",
              "Participant_Certifications",
              "Participant_Engagement",
              "Participant_Milestones",
              "Participant_Types",
              "Participants",
              "Participation_Items",
              "Participation_Requirements",
              "Participation_Statuses",
              "Payment_Detail",
              "Payment_Types",
              "Payments",
              "Perspectives",
              "Planned_Contacts",
              "Pledge_Adjustment_Types",
              "Pledge_Adjustments",
              "Pledge_Campaign_Types",
              "Pledge_Campaigns",
              "Pledge_Frequencies",
              "Pledge_Statuses",
              "Pledges",
              "Pocket_Platform_Devices",
              "Pocket_Platform_Migrations",
              "Prefixes",
              "Print_Servers",
              "Priorities",
              "Procedures",
              "Product_Option_Groups",
              "Product_Option_Prices",
              "Products",
              "Program_Groups",
              "Program_Types",
              "Programs",
              "Relationships",
              "Request_Statuses",
              "Response_Follow_Ups",
              "Response_Results",
              "Responses",
              "Room_Layouts",
              "Room_Usage_Types",
              "Rooms",
              "RSVP_Statuses",
              "Sacrament_Places",
              "Sacrament_Sponsors",
              "Sacrament_Types",
              "Sacraments",
              "Schedule_Roles",
              "Schedule_Statuses",
              "Scheduled_Donations",
              "Scheduled_Participants",
              "Schedules",
              "Service_Types",
              "Servicing",
              "Sponsor_Types",
              "Statement_Cutoff_Automation",
              "Statement_Frequencies",
              "Statement_Headers",
              "Statement_Methods",
              "Statement_Types",
              "Suffixes",
              "Suggestion_Types",
              "Time_Off_Types",
              "Visibility_Levels",
              "Wifi_Device_Sessions",
              "Wifi_Devices"
            ]
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Select Fields",
            "description": "A comma separated list of fields to return in the data.  This supports the MinistryPlatform _TABLE notation for accessing fields in other tables connected by foreign keys.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$allowCreate",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {}
              }
            }
          }
        ]
      }
    },
    "/tables/{table}/{id}": {
      "get": {
        "tags": [
          "Tables"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Record from Table",
        "description": "Returns a single record from the specified table by the record's primary key value.",
        "operationId": "Table_Record_GET",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a MinistryPlatform Table.  This must a table registered in metadata.",
            "x-ms-summary": "Table",
            "x-ms-visibility": "important",
            "enum": [
              "Account_Types",
              "Accounting_Companies",
              "Activity_Log",
              "Activity_Log_Staging",
              "Addresses",
              "Attribute_Types",
              "Attributes",
              "Audience_Audience_Filters",
              "Audience_Filters",
              "Audience_Members",
              "Audience_Members_Staging",
              "Audience_Operators",
              "Audiences",
              "Background_Check_Statuses",
              "Background_Check_Types",
              "Background_Checks",
              "Banks",
              "Batch_Entry_Types",
              "Batch_Types",
              "Batches",
              "Books",
              "Buildings",
              "Campaign_Goals",
              "Care_Case_Types",
              "Care_Cases",
              "Care_Outcomes",
              "Care_Types",
              "Certification_Types",
              "Chart_Colors",
              "Checkin_Search_Results_Types",
              "Church_Associations",
              "Congregations",
              "Contact_Attributes",
              "Contact_Households",
              "Contact_Identifier_Log",
              "Contact_Log",
              "Contact_Log_Types",
              "Contact_Relationships",
              "Contact_Staging",
              "Contact_Statuses",
              "Contacts",
              "Continents",
              "Contribution_Statement_Donors",
              "Contribution_Statements",
              "Countries",
              "Currencies",
              "Date_Accuracies",
              "Deposits",
              "Donation_Distributions",
              "Donation_Frequencies",
              "Donation_Levels",
              "Donation_Sources",
              "Donations",
              "Donor_Accounts",
              "Donors",
              "Equipment",
              "Equipment_Types",
              "Event_Equipment",
              "Event_Groups",
              "Event_Metrics",
              "Event_Participants",
              "Event_Rooms",
              "Event_Services",
              "Event_Types",
              "Events",
              "Feedback_Entries",
              "Feedback_Types",
              "Follow_Up_Action_Types",
              "Form_Field_Types",
              "Form_Fields",
              "Form_Response_Answers",
              "Form_Responses",
              "Forms",
              "Genders",
              "Group_Activities",
              "Group_Attributes",
              "Group_Ended_Reasons",
              "Group_Focuses",
              "Group_Inquiries",
              "Group_Participants",
              "Group_Role_Directions",
              "Group_Role_Intensities",
              "Group_Role_Types",
              "Group_Roles",
              "Group_Rooms",
              "Group_Types",
              "Groups",
              "Household_Care_Log",
              "Household_Identifier_Log",
              "Household_Positions",
              "Household_Sources",
              "Household_Types",
              "Households",
              "Import_Destinations",
              "Import_Templates",
              "Industries",
              "Invoice_Detail",
              "Invoice_Sources",
              "Invoice_Statuses",
              "Invoices",
              "Item_Priorities",
              "Item_Statuses",
              "Journeys",
              "Letters",
              "Life_Stages",
              "Location_Types",
              "Locations",
              "Maintenance_Requests",
              "Mapping_Values",
              "Marital_Statuses",
              "Meeting_Days",
              "Meeting_Durations",
              "Meeting_Frequencies",
              "Member_Statuses",
              "Metrics",
              "Milestones",
              "Ministries",
              "MobileApp_Menu_Items",
              "Need_Campaigns",
              "Need_Providers",
              "Need_Type_Providers",
              "Need_Types",
              "Needs",
              "Occupations",
              "Opportunities",
              "Opportunity_Attributes",
              "Ordination_Types",
              "Participant_Certifications",
              "Participant_Engagement",
              "Participant_Milestones",
              "Participant_Types",
              "Participants",
              "Participation_Items",
              "Participation_Requirements",
              "Participation_Statuses",
              "Payment_Detail",
              "Payment_Types",
              "Payments",
              "Perspectives",
              "Planned_Contacts",
              "Pledge_Adjustment_Types",
              "Pledge_Adjustments",
              "Pledge_Campaign_Types",
              "Pledge_Campaigns",
              "Pledge_Frequencies",
              "Pledge_Statuses",
              "Pledges",
              "Pocket_Platform_Devices",
              "Pocket_Platform_Migrations",
              "Prefixes",
              "Print_Servers",
              "Priorities",
              "Procedures",
              "Product_Option_Groups",
              "Product_Option_Prices",
              "Products",
              "Program_Groups",
              "Program_Types",
              "Programs",
              "Relationships",
              "Request_Statuses",
              "Response_Follow_Ups",
              "Response_Results",
              "Responses",
              "Room_Layouts",
              "Room_Usage_Types",
              "Rooms",
              "RSVP_Statuses",
              "Sacrament_Places",
              "Sacrament_Sponsors",
              "Sacrament_Types",
              "Sacraments",
              "Schedule_Roles",
              "Schedule_Statuses",
              "Scheduled_Donations",
              "Scheduled_Participants",
              "Schedules",
              "Service_Types",
              "Servicing",
              "Sponsor_Types",
              "Statement_Cutoff_Automation",
              "Statement_Frequencies",
              "Statement_Headers",
              "Statement_Methods",
              "Statement_Types",
              "Suffixes",
              "Suggestion_Types",
              "Time_Off_Types",
              "Visibility_Levels",
              "Wifi_Device_Sessions",
              "Wifi_Devices"
            ]
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record identifier / primary key identifier of record to return.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Select Fields",
            "description": "A comma separated list of fields to return in the data.  This supports the MinistryPlatform _TABLE notation for accessing fields in other tables connected by foreign keys.",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/procs": {
      "get": {
        "tags": [
          "Schema"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "GET_Stored_Procedures",
        "summary": "List Stored Procedures and Parameters",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search",
            "x-ms-summary": "Used to filter the list of returned stored procedures.  The '*' character can be used as a wildcard."
          }
        ],
        "description": "Returns the list of procedures available to the current user with basic metadata."
      }
    },
    "/procs/{stored_procedure}": {
      "post": {
        "tags": [
          "Procedures"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Execute Stored Procedure",
        "operationId": "Execute_Procedure",
        "parameters": [
          {
            "name": "stored_procedure",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the 'api_' stored procedure registrered in MinistryPlatform",
            "x-ms-summary": "Stored Procedure",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to be used for calling stored procedure.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "description": "Executes a Stored Procedure with or without parameters"
      }
    },
    "/communications": {
      "post": {
        "tags": [
          "Communications"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "Communication_Email_POST",
        "description": "Create new communication, immediately render and schedule for delivery. (Email and SMS)",
        "summary": "Create Communication",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "AuthorUserId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The UserID of the User that is used to send this communication",
                  "title": "AuthorUserID",
                  "x-ms-visibility": "important"
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject line of the email or the content of the SMS message",
                  "title": "Subject",
                  "x-ms-visibility": "important"
                },
                "Body": {
                  "type": "string",
                  "description": "Body content of the communication",
                  "title": "Body",
                  "x-ms-visibility": "important"
                },
                "FromContactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The contact from whom the communication is sent",
                  "title": "FromContactId"
                },
                "ReplyToContactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID of the Contact record which should be used in replies",
                  "title": "ReplyToContactId",
                  "x-ms-visibility": "important"
                },
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "title": "",
                    "x-ms-visibility": "important"
                  },
                  "description": "Contact IDs of those that should receive this communication"
                },
                "IsBulkEmail": {
                  "type": "boolean",
                  "description": "This message is bulk",
                  "title": "IsBulkEmail",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                },
                "CommunicationType": {
                  "type": "string",
                  "description": "The type of communication (Email, SMS)",
                  "title": "CommunicationType",
                  "default": "Email",
                  "enum": [
                    "Email",
                    "SMS"
                  ],
                  "x-ms-visibility": "advanced"
                },
                "TextPhoneNumberId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID of the Outbound SMS Number (Required for SMS)",
                  "title": "TextPhoneNumberId",
                  "x-ms-visibility": "advanced"
                },
                "StartDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time for the message to be sent in this format (2017-07-21T17:32:28Z)",
                  "title": "StartDate",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "CommunicationType",
                "AuthorUserId",
                "FromContactId",
                "Subject",
                "ReplyToContactId",
                "Body"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/files/{UniqueFileID}": {
      "get": {
        "tags": [
          "Files"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get File by UniqueID",
        "description": "Returns File Attachments by UniqueID",
        "operationId": "Files_GET",
        "parameters": [
          {
            "name": "UniqueFileID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Unique ID of the File"
          },
          {
            "name": "$thumbnail",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When set to true, this will return a system generated thumbnail of images instead of the full sized / original image."
          }
        ]
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://mpi.ministryplatform.com/ministryplatformapi/oauth/connect/authorize",
      "tokenUrl": "https://mpi.ministryplatform.com/ministryplatformapi/oauth/connect/token",
      "scopes": {
        "openid offline_access http://www.thinkministry.com/dataplatform/scopes/all": "openid offline_access http://www.thinkministry.com/dataplatform/scopes/all"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "openid offline_access http://www.thinkministry.com/dataplatform/scopes/all"
      ]
    }
  ],
  "tags": []
}